.crumb-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.crumb-box {
    width: 100%;
    max-width: 598px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    line-height: 1.42857143;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    display: flex;
    flex-direction: column;

    &-header {
        padding: 15px 20px;
        border-bottom: 1px solid #e5e5e5;
        min-height: 16.42857143px;


        h3 {
            font-size: 26px;
        }

    }

    &-description {
        padding: 20px;
        color: #666;
        line-height: 1.875rem;
        font-size: 1rem;
        margin-bottom: 25px;

        >span {
            color: #333645;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }

    }

    &-footer {
        padding: 19px 20px 20px;
        border-top: 1px solid #e5e5e5;
        line-height: 1.42857143;
        display: flex;
        flex-direction: column;
        gap: 30px;

        a {
            flex: 1;
            height: auto;
            line-height: 35px;
            padding: 5px 15px;
            text-transform: uppercase;
            font-size: 1.063rem;
            border-radius: 3px;
            border: 1px solid transparent;
            white-space: normal;
            font-weight: 400;
            color: #fff;
            text-align: center;
            cursor: pointer;

        }

        #changeSettings {
            background-color: #999aa2;
            border-color: #999aa2;

            &:hover {
                background-color: #84858f;
                border-color: #797a85;
            }
        }

        #acceptCrumbs {
            background-color: #926fb1;
            border-color: #926fb1;

            &:hover {
                background-color: #7e57a0;
                border-color: #735093;
            }
        }

        @media (min-width: 768px) {
            flex-direction: row;
        }


    }
}

.preference-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    background-color: #75788a;
    color: #fff;
    border: none;
    line-height: 22px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: capitalize;
    border: solid #75788a;
    border-width: 1px 1px 0 0;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
    border-top-right-radius: 10px;
    cursor: pointer;
    z-index: 90; // To ensure it's above most other elements but below the overlay
    transition: background-color 0.3s;

    &:hover {
        background-color: #999aa2;
    }
}