@import 'colours';

#copyright {
    padding: 0.75rem;
    background-color: #212330;
    color: white;
    font-size: 14px;
    letter-spacing: 0.025em;
  
    @media (min-width: 768px) {
      display: flex;
    }
  
    @media (min-width: 1280px) {
      padding: 0 128px;
    }
  
    @media (min-width: 1536px) {
      padding: 0 700px;
    }
  
    div {
      margin-right: 2px;
  
      a {
        &.hover:underline:hover {
          text-decoration: underline;
        }
      }
    }
  }