#cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #333645;
    opacity: 0;
    transition: opacity .5s;
    z-index: 99999;
    display: none;
  }