@import 'colours';

// _footer.scss
#footer {
  letter-spacing: .4px;

  // Nav links container
  &-nav {
    padding-top: 1.7rem;
    padding-left: 1rem;
    color: white;
    background-color: #323544;

    @media (min-width: 768px) {
      padding: 1.7rem 1.5rem 0 1.5rem;

    }

    @media (min-width: 1024px) {
      padding: 0 2.5rem;
    }

    @media (min-width: 1280px) {
      padding: 3rem 8.5rem 0 8.5rem;
      display: flex;
    }

    @media (min-width: 1536px) {
      padding: 0 700px;
    }

    &-social {

      @media (min-width: 1280px) {
        margin-right: 5rem;
      }

      &-icon {
        // Logo image
        width: 15rem;
        margin-bottom: 1.5rem;

        @media (min-width: 768px) {
          min-width: 20rem;
        }

      }

      &-links {

        // Social media links
        p {
          font-size: 1rem;
          margin-bottom: 1.5rem;
        }

        div {
          display: inline-grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          gap: 0.75rem;
          margin-bottom: 2.5rem;

          @media (min-width: 768px) {
            margin-bottom: 2.5rem;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            grid-template-rows: repeat(1, minmax(0, 1fr));
            gap: 0.75rem;
          }

          >a {
            background-color: #212330;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.5rem;
            width: 6.25rem;
            font-size: 1.25rem;

            >svg {
              width: 1.5rem;
              height: 1.5rem;
              fill: white;
            }

            :hover {
              background-color: #3B5998;
            }

            @media (min-width: 768px) {
              height: 3.5rem;
              width: 4rem;
            }
          }




        }

      }
      
    }
    
    &-pages {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      
      div {

        h1 {
          font-size: 1rem;
          margin-bottom: 1.5rem;
        }

        ul {
          margin-bottom: 2rem;

          li {
            margin-bottom: -0.2rem;
            a {
              font-size: 0.8rem;
              color: white;
            }

            :hover {
              text-decoration: underline;
            }

          }
        }
      }

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-bottom: 0;
      }

      @media (min-width: 1024px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1.875rem;
      }

      // About Netmatters
      
    }


  }

  // Copyright section
  #copyright {
    padding: 0.75rem;
    background-color: #212330;
    color: white;
    font-size: 0.875rem;
    letter-spacing: 0.025em;
    
    > * {
      margin-bottom: -0.1rem;
    }

    p {
      margin-right: 0.5rem;
    }
    
    &-dash {
      display: none;
      
      @media (min-width: 768px) {
        display: inline-block;
      }
    }
    
    a {
      :hover {
        text-decoration: underline;
      }
    }

    @media (min-width: 768px) {
      display: flex;
      padding: 1rem 1.5rem 0.6rem 1.5rem;
    }
    
    @media (min-width: 1280px) {
      padding: 0.6rem 8rem 1rem 8rem;
    }

    @media (min-width: 1536px) {
      padding: 0.6rem 700px 1rem 700px;
    }

  }
  
}