@import 'colours';

// _footer.scss
#footer {
  color: white;

  // Nav links container
  #nav-wrapper {
    background-color: $primary;

    #nav {
      padding-top: 1.7rem;
      padding-left: 1rem;

      &-social {

        &-icon {
          // Logo image
          width: 15rem;
          margin-bottom: 1.5rem;

          @media (min-width: 768px) {
            min-width: 20rem;
          }

        }

        &-links {

          // Social media links
          p {
            font-size: 1rem;
            margin-bottom: 1.5rem;
          }

          div {
            display: inline-grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 0.75rem;
            margin-bottom: 2.5rem;


            @media (min-width: 768px) {
              margin-bottom: 2.5rem;
              grid-template-columns: repeat(4, minmax(0, 1fr));
              grid-template-rows: repeat(1, minmax(0, 1fr));
              gap: 0.625rem;
            }

            >a {
              background-color: #212330;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 3.5rem;
              width: 6.25rem;
              font-size: 1.25rem;

              >svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: white;
              }

              :hover {
                background-color: #3B5998;
              }

              @media (min-width: 768px) {
                height: 56px;
                width: 68px;
              }
            }




          }

        }

        @media (min-width: 1280px) {
          margin-right: 5rem;
        }


      }

      &-pages {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));

        div {

          h1 {
            font-size: 1rem;
            margin-bottom: 1.5rem;
          }

          ul {
            margin-bottom: 2rem;

            li {
              margin-bottom: -0.2rem;

              a {
                font-size: 0.8rem;
                color: white;
              }

              :hover {
                text-decoration: underline;
              }

            }
          }
        }

        @media (min-width: 768px) {
          grid-template-columns: repeat(2, minmax(0, 1fr));
          padding-bottom: 0;
        }

        @media (min-width: 992px) {
          grid-template-columns: repeat(4, minmax(0, 1fr));
          gap: 1.875rem;
        }


      }

      @media (min-width: 768px) {
        padding: 1.7rem 1.5rem 0 1.5rem;

      }

      @media (min-width: 992px) {
        padding: 1.7rem 2.5rem 0 2.5rem;
      }

      @media (min-width: 1260px) {
        display: flex;
        padding: 47px 15px 20px 15px;
        width: 1200px;
        margin: 0 auto;
      }



    }

  }

  // Copyright section

  #copyright-wrapper {
    background-color: #212330;

    #copyright {
      padding: 0.75rem;
      font-size: 0.8125rem;
      letter-spacing: 0.025em;

      >* {
        margin-bottom: -0.1rem;
      }

      p {
        margin-right: 0.5rem;
      }

      &-dash {
        display: none;

        @media (min-width: 768px) {
          display: inline-block;
        }
      }

      a {
        :hover {
          text-decoration: underline;
        }
      }

      @media (min-width: 768px) {
        display: flex;
        padding: 15px 24px 10px 24px;
      }

      @media (min-width: 992px) {
        padding: 15px 42px 10px 42px;
      }

      @media (min-width: 1260px) {
        width: 1200px;
        padding: 15px 15px 10px 15px;
        margin: 0 auto;
      }
      

    }
  }

}