// _header.scss

#header {
  width: 100%;
}

// Header top section
#header-top {
  padding: 1.25rem 1rem 1.25rem 1rem;


  @media (min-width: 768px) {
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  }

  @media (min-width: 992px) {
    padding: 1.25rem 0 1.25rem 0;
  }

  @media (min-width: 1260px) {
    padding: 1.25rem 0;
  }

  @media (min-width: 1536px) {
    padding: 1.25rem 0;
  }
}

// Main navigation container
#main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;

  @media (min-width: 992px) {
    justify-content: center;
    gap: 0.5rem;
  }

  @media (min-width: 1260px) {
    flex-wrap: nowrap;

    >a {
      margin-right: 1.5rem;
    }

  }
}

// Logo
#title {
  flex: 1;
  margin-right: 1rem;

  @media (min-width: 768px) {
    margin-bottom: 0;
    align-self: start;
  }

  @media (min-width: 992px) {
    flex: none;
    padding: 0 0;
    margin-right: 4rem;
  }

  @media (min-width: 1260px) {
    flex: none;
  }

  @media (min-width: 1536px) {
    flex: none;
  }

  img {
    cursor: pointer;
    width: 345px;

    @media (min-width: 992px) {
      width: 374px;
    }

    @media (min-width: 1260px) {
      width: 370px;
      margin-right: 3rem;
    }

  }
}

// Support section
#support {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }

  a {
    background-color: #4183d7;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    margin-right: 0.75rem;
    padding: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2a6ec6;
    }

    svg {
      fill: #fff;
      margin-right: 0.25rem;
    }

    h3 {
      font-size: 1.125rem;
      font-weight: 400;
      letter-spacing: 0.05rem;
      color: #fff;
    }
  }
}

// Contact section
#contact {
  display: none;

  @media (min-width: 992px) {
    display: block;
  }

  a {
    background-color: #999aa2;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    margin-right: 0.75rem;
    padding: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #7e808a;
    }

    svg {
      fill: #fff;
      margin-right: 0.25rem;
    }

    h3 {
      font-size: 1.125rem;
      font-weight: 400;
      letter-spacing: 0.05rem;
      color: #fff;
    }
  }
}

// Call and burger section
#call-and-burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.45rem 0;

  @media (min-width: 768px) {
    order: 2;
  }

  @media (min-width: 1536px) {
    margin-left: 0;
    margin-right: 0;
  }

  #call {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }

    a {
      cursor: pointer;

      svg {
        width: 2rem;
        height: 2rem;
        fill: #333645;
      }
    }
  }

  #hamburger {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333645;
    margin-left: 1rem;
    padding: 8px 12px 8px 12px;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    @media (min-width: 768px) {
      margin-left: 0.5rem;
    }

    @media (min-width: 992px) {
      margin-left: 0.75rem;
    }

    &:hover {
      background-color: #22242e;
    }

    a {
      svg {
        stroke: #fff;
        stroke-width: 3;
        stroke-linecap: square;
        stroke-linejoin: arcs;
      }
    }
  }
}



// Search section
#search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.9rem;
  background-color: #e5e5e5;
  border: 2px solid #d6d6d6;
  border-radius: 0.125rem;

  @media (min-width: 768px) {
    order: 1;
    height: 3.5rem;
    width: 14.75rem;
    background-color: #999aa2;
    border: 0;
    transition: background-color 0.3s ease;
    border-radius: 0.2rem;

    &:hover {
      background-color: #7e808a;
    }
  }

  @media (min-width: 992px) {
    width: 4rem;
  }

  @media (min-width: 1260px) {
    width: 19rem;
  }

  #input-wrapper {

    @media (min-width: 768px) {
      flex: 1;
      border: 1px solid #cccccc;
      height: 3.5rem;

    }

    @media (min-width: 992px) {
      display: none;
    }

    @media (min-width: 1260px) {
      display: block;
    }

    @media (min-width: 1260px) {
      width: 100%;
    }

    input {
      flex: 1;
      padding: 0.625rem 1rem;
      font-size: 0.875rem;
      background-color: #e5e5e5;
      color: #989898;

      @media (min-width: 768px) {
        width: 100%;
        background-color: #fff;
        height: 100%;
        padding: 0 1rem 0 1rem;
        border-top: 1px solid #EEEEEE;
      }

      @media (min-width: 992px) {
        width: 100%;
      }
    }
  }

  #search-icon-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid #DDDDDD;

    @media (min-width: 768px) {
      width: 4rem;
      border: none;
    }


    svg {
      width: 20px;
      height: 22px;
      fill: #333645;
      margin-right: 0.5rem;
      margin-bottom: 0.25rem;

      @media (min-width: 768px) {
        width: 23px;
        height: 27px;
        margin: 0;
        fill: #fff;
      }
    }
  }




}






// Header bottom section
#header-bottom {
  display: none;

  @media (min-width: 992px) {
    display: flex;
    justify-content: center;
    background-color: #333645;
  }


  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 99px;
    width: 134px;
    background-color: #333645;
    cursor: pointer;
    padding: 1.2rem 0 0.8rem 0;
    positon: relative;

    &:hover {
      background-color: #22242e;

      

    }

    svg {
      fill: currentColor;
      margin-bottom: 0.4rem;
    }

    p {
      margin-bottom: -0.4rem;
      font-size: 0.625rem;
      color: #fff;


      &.text-lg {
        font-size: 1.125rem;
      }
    }

    @media (min-width: 1260px) {
      width: 167px;
    }
  }

  #bespoke-nav {
    background-color: #333645;

    svg {
      fill: #67809f;
    }

    &:hover {
      background-color: #67809f;
    }

    &:hover svg {
      fill: white;
    }
  }

  #it-support-nav {
    background-color: #333645;

    svg {
      fill: #4484d7;
    }

    &:hover {
      background-color: #4484d7;
    }

    &:hover svg {
      fill: white;
    }

  }

  #digital-marketing-nav {
    background-color: #333645;

    svg {
      fill: #5ecd73;
    }

    &:hover {
      background-color: #5ecd73;
    }

    &:hover svg {
      fill: white;
    }

  }

  #telecoms-services-nav {
    background-color: #333645;

    svg {
      fill: #d64541;
    }

    &:hover {
      background-color: #d64541;
    }

    &:hover svg {
      fill: white;
    }
  }

  #web-design-nav {
    background-color: #333645;

    svg {
      fill: #926fb1;
    }

    &:hover {
      background-color: #926fb1;
    }

    &:hover svg {
      fill: white;
    }
  }

  #cyber-security-nav {
    background-color: #333645;

    svg {
      fill: #ed3b58;
    }

    &:hover {
      background-color: #ed3b58;
    }

    &:hover svg {
      fill: white;
    }
  }

  #developer-course-nav {
    background-color: #333645;

    svg {
      fill: #ce412c;
    }

    &:hover {
      background-color: #ce412c;
    }

    &:hover svg {
      fill: white;
    }
  }
}