#our-services {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
}

#cards-and-view-our-work {

  display: flex;
  flex-direction: column;
  padding: 0 16px 0 16px;

  > h1 {
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 36px;
  }

  > #cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (min-width: 768px) {
      order: 2;
    }

    &-upper {

      @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 32px;
      }

    }

    &-lower {

      display: flex;
      flex-wrap: wrap;

      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 32px;
        margin-bottom: 56px;
      }

      @media (min-width: 1280px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

      a div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 1rem;
        border: 1px solid #D1D5DB;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
        padding: 28px;
        margin-bottom: 32px;
        cursor: pointer;
        --transform-translate-y: 0.75rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 500ms;

        &:hover {
          color: white;
        }

        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }

      a #telecoms-services {
        &:hover {
          background-color: #D64541;
        }
      }

      a #web-design {
        &:hover {
          background-color: #926FB1;
        }
      }

      a #cyber-security {
        &:hover {
          background-color: #ED3B58;
        }
      }

      a #developer-training {
        &:hover {
          background-color: #CE412C;
        }
      }

    }

  }

  > #view-our-work {
    cursor: pointer;
    text-decoration: none;
    &:hover {
      .underline-on-hover {
        text-decoration: underline;
      }
    }
  
    @media (min-width: 768px) {
      order: 1;
      margin-bottom: 32px;
    }
  }
  

  @media (min-width: 768px) {
    padding: 0 24px 0 24px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

  }

  @media (min-width: 1024px) {
    padding: 0 40px 0 40px;

  }

  @media (min-width: 1280px) {
    padding: 0 128px 0 128px;

  }

  @media (min-width: 1536px) {
    padding: 0 700px 0 700px;

  }

}