@import 'reset';
@import 'footer';
@import 'header';
@import 'hero';
@import 'services';
@import 'company';
@import 'latest';
@import 'signup';

:root {
  color: #333645;
  letter-spacing: 0.4px;
  font-family: 'Poppins', sans-serif;
}

.asterisk {
  color: red;
}

.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}
